/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('./assets/img/catsss.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    color: white;
    
}
