<h1>app monster digital- consumir un api</h1>

<div class="container">
  <div class="row">
    <div class="col sm-3" *ngFor="let monsters of monsters; let i = index">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{monsters.img}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{monsters.name}}</h5>
          <p class="card-text">{{monsters.level}}</p>
          <a href="#" class="btn btn-primary">mas</a>
        </div>
      </div>
    </div>
  </div>
</div>