
<div class="list-group">
  <h1>esto es un piano</h1>
  <div class="list-group">
    <h1>esto es un piano</h1>
    <a (click)="aplicacion(1)" class="list-group-item list-group-item-action list-group-item-secondary">do</a>
    <a (click)="aplicacion(2)" class="list-group-item list-group-item-action list-group-item-success">re</a>
    <a (click)="aplicacion(3)" class="list-group-item list-group-item-action list-group-item-warning">mi</a>
    <a (click)="aplicacion(4)" class="list-group-item list-group-item-action list-group-item-primary">fa</a>
    <a (click)="aplicacion(5)" class="list-group-item list-group-item-action list-group-item-info">sol</a>
    <a (click)="aplicacion(6)" class="list-group-item list-group-item-action list-group-item-light">la</a>
    <a (click)="aplicacion(7)" class="list-group-item list-group-item-action list-group-item-danger">re</a>
  </div>
  
</div>
<!--
<audio controls>
  <source src="../assets/sonidos/note1.wav">

</audio>
-->