.list-group-item{
    text-align: center;
    cursor: pointer;
    height: auto;
    width: 80%;
    padding: 20px;
    margin: 4px;
}

.list-group{
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    align-items: center;
} 